body {
	background-color: #F5ECD3;
}

h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

p {
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
}

.list {
	font-family: Helvetica, sans-serif;
	padding-right: 325px;
	padding-top: 0px;
	list-style-type: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.rig {
	padding-right: 325px;
	padding-top: 0px;
	list-style-type: none;
}

.right {
	width: 150px;
	height: 500px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-left: 300px;
}

.left {
	width: 150px;
	height: 200px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-left: 300px;
}

a:link {
	color: #676767;
	text-decoration: none;
}

a:visited {
	color: #2A6B93;
}

a:hover {
	color: #D25265;
}