h1 {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

h3 {
	font-family: Helvetica, sans-serif;
}

p {
	padding-left: 300px;
	padding-right: 300px;
	text-align: justify;
}

.list {
	font-family: Helvetica, sans-serif;
	padding-right: 325px;
	padding-top: 0px;
	list-style-type: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.rig {
	padding-right: 325px;
	padding-top: 0px;
	list-style-type: none;
}

.right {
	width: 150px;
	height: 500px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-left: 300px;
}

.left {
	width: 150px;
	height: 200px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-left: 300px;
}

a:link {
	color: #676767;
	text-decoration: none;
}

a:visited {
	color: #2A6B93;
}

a:hover {
	color: #D25265;
}

#map { 
	height: 500px; 
	width: 1000px;
	margin: auto;
}

.radio {
	padding-left: 110px;
	padding-bottom: 10px;
}

.submit {
	margin-left: 110px;
	margin-bottom: 50px;
}

.all-secs {
	margin: 0;
	padding: 40px;
	cursor: pointer;
}

#page1 {
	background-image: url("../images/dimension.png");
}

#page2 {
	background-image: url("../images/tree_bark.png");
}